@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: #d3d3d3;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  padding: 1.25rem 0;
  font-size: 1.8rem;
}

h2 {
  padding: 1.25rem 0;
  font-size: 1.5rem;
}

h3 {
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
}
h4 {
  padding-bottom: 0.5rem;
}

ul {
  list-style: none;
}

input {
  @apply border-0 rounded px-3 py-2 bg-white text-xs;
}

select {
  @apply border-0 rounded px-2 py-2 w-full bg-white text-xs;
}

label {
  @apply flex items-center justify-between gap-2 w-full;
}


button {
  @apply border-none shadow-sm text-white py-2 px-4 rounded cursor-pointer w-fit text-xs hover:bg-right;
  background-image: linear-gradient(
    to right,
    #ece9e6 0%,
    #ffffff 51%,
    #ece9e6 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  position: relative;
}

.nav {
  @apply flex justify-center gap-4 flex-wrap pt-5 pb-3;
}

.link {
  @apply bg-gray-50 text-black px-4 py-2 rounded-sm cursor-pointer hover:bg-gray-100;
}

.page {
  @apply min-h-screen pt-12 px-6 pb-32 m-auto flex flex-col items-center md:w-1/2;
}

.list {
  @apply w-full flex flex-col gap-10 pb-10;
}

.card {
  @apply bg-gray-100 py-4 px-8 rounded-sm shadow-sm flex flex-col gap-2 w-full;
}

.form {
  @apply flex flex-col items-center gap-2 w-fit pt-10;
}

.form button {
  @apply self-end;
}

.plain_button {
  @apply text-black;
}

.main_button {
  background-image: linear-gradient(
    to right,
    #1138c4 0%,
    #1a70c7 51%,
    #1138c4 100%
  );
}

.finish_button {
  background-image: linear-gradient(
    to right,
    #338805 0%,
    #49aa11 51%,
    #338805 100%
  );
}

.delete_button {
  background-image: linear-gradient(
    to right,
    #b31217 0%,
    #e44741 51%,
    #b31217 100%
  );
}

.fancy_button {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #434343 51%,
    #000000 100%
  );
  color: white;
}

.delete_icon {
  @apply fill-red-600 cursor-pointer;
}

.loading_icon * {
  @apply fill-blue-600;
}

.live_bg {
  min-height: 160%;
  top: -30%;
  min-width: 1.5%;
  transform: rotate(-30deg);
  position: absolute;
  animation: flicker 7s infinite ease-out;
  box-shadow: 8px 10px 10px rgba(255, 255, 255, 0.671);
}

@keyframes flicker {
  0% {
    margin-left: -30%;

  }
  100% {
    margin-left: 900%;
  }
}
