@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: #d3d3d3;
}

h1,h2,h3,h4 {
  font-weight: bold;
}


h1 {
  padding: 1.25rem 0;
  font-size: 1.8rem;
}

h2 {
  padding: 1.25rem 0;
  font-size: 1.5rem;
}

h3 {
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
}
h4 {
  padding-bottom: .5rem;
}

ul {
  list-style: none;
}

input {
  @apply border-0 rounded px-3 py-2 bg-white text-xs;
}

select {
  @apply border-0 rounded px-2 py-2 w-full bg-white text-xs;
}


label {
  @apply flex items-center justify-between gap-2 w-full;
}

button {
  @apply border-none shadow-sm text-white py-2 px-4 rounded cursor-pointer w-fit bg-blue-600 text-xs;
}

.nav {
  @apply flex justify-center gap-4 flex-wrap pt-5 pb-3;
}

.link {
  @apply underline bg-gray-100 text-black px-4 py-2 rounded-sm cursor-pointer hover:bg-gray-200;
}

.page {
  @apply min-h-screen pt-12 px-6 pb-32 m-auto flex flex-col items-center md:w-1/2;
}

.list {
  @apply w-full flex flex-col gap-10 pb-10;
}

.card {
  @apply bg-gray-100 py-4 px-8 rounded-sm shadow-sm flex flex-col gap-2 w-full;
}

.form {
  @apply flex flex-col items-center gap-2 w-fit pt-10;
}

.form button {
  @apply self-end;
}

.finish_button {
  @apply bg-green-600;
}

.delete_button {
  @apply bg-red-600;
}
.plain_button {
  @apply bg-white;
}

.delete_icon {
  @apply fill-red-600 cursor-pointer;
}
